
   <section class="ecommerces p-60 p-lg-100 text-center" id="ecommerces-1">
        <div class="container">
          <h1>Offres resto Lastminute <br> d'aujourd'hui</h1><p>Attetnion le nombre de place est limité en nombre et dans le temps<br><h3>Reste <span cl:ass="label  label-warning">42 minutes</span></h3><br></p><br><hr><br>
          <ul class="nav-tabs mb-40" id="ecommerces-tabs">
            <li class="active"><a href="#ecommerce-1-tab-0" data-toggle="tab">Aujourd'hui</a></li>
            <li><a href="#ecommerce-1-tab-1" data-toggle="tab">Hier</a></li>
            <li><a href="#ecommerce-1-tab-2" data-toggle="tab">Avant-hier</a></li>
            <li><a href="#ecommerce-1-tab-3" data-toggle="tab">Demain ;-)</a></li>
          </ul>
          <div class="tabs-content mb-30" id="ecommerces-1-tabs">
            <div class="tab-panel active" id="ecommerce-1-tab-0">
              <div class="row">
                <div class="col-12 col-sm-12 col-lg-6 mb-15 mb-sm-30">
                  <div class="card h-400 d-flex justify-content-center">
                    <div class="align-self-center ph-30">
                      <h1 class="mb-20">Donne ton 06...</h1>
                      <h4 class="mb-50">Recevez avant tous le mondeles offres que vous aimez le plus</h4>
                        <Réserver class="btn btn-small">Je personnalise mes offres</Réserver>
                    </div>
                  </div>
                </div>

                <% @offers.each do |offer|  %>
                  <div class="col-12 col-sm-6 col-lg-3 mb-15 mb-sm-30">
                    <div class="panel h-400 with-overlay p-30 d-flex justify-content-center">
                      <div class="align-self-end">
                        <%= image_tag(offer.image, size: "253x264") %>
                        <h3><%= offer.seller.name %></h3>
                        <p><%= offer.title %></p>
                        <p><%= offer.date %></p>
                      </div>
                      <div class="with-overlay__content d-flex justify-content-center">
                        <div class="align-self-center ph-30">
                          <h3 class="mb-10"><%= offer.title %></h3>
                          <p class="mb-20"><%= offer.description %></p>
                          <p class="mb-60"><%= offer.price %> euros</p>
                            <Button class="btn btn-small">Réserver</Button>
                        </div>
                      </div>
                    </div>
                  </div>
                <% end %>

              </div>
            </div>
          </div><a href="#more"><span class="glyphicon glyphicon-star icon-margin-right"></span><span class="b-500">More new arrivals</span></a>
          <script>
            $('#ecommerces-1-tabs a').click(function (e) {
              e.preventDefault()
              $(this).tab('show')
            })


          </script>
        </div>
      </section>


