<section class="container">

  <h1>Mes réservations</h1>

  <% @reservations.each do |reservation| %>
    <%= reservation.offer.seller.name %><br>
    <%= reservation.offer.title %><br>
    <%= reservation.offer.price %> euros <br>
    <%= reservation.date %><br><br>
  <% end %>

<br>

<%= link_to "retour", buyer_path(@buyer) %>

</section>
