<section class="container">

  <h2>Editer mon profil</h2>

  <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
    <%= f.error_notification %>

    <div class="form-inputs">
      <%= f.input :email, required: true, autofocus: true %>
      <%= f.input :pseudo,required: false %>
      <%= f.input :first_name, label: "Prénom" ,required: true %>
      <%= f.input :last_name, label: "Nom", required: true %>
      <%= f.input :phone, label: "Téléphone", required: true %>
      <%= f.input :avatar, as: :file, required: false %>
      <%= f.input :current_password, label: "Mot de passe", hint: "Entrez votre mot de passe", required: true %>


      <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
        <p>Currently waiting confirmation for: <%= resource.unconfirmed_email %></p>
      <% end %>

    <br>
    <h3>Changer de mot de passe</h3>
    <br>
      <%= f.input :password, label: "Nouveau mot de passe", autocomplete: "off", hint: "Ne rien remplir si vous ne souhaitez pas changer votre mot de passe", required: false %>
      <%= f.input :password_confirmation, label: "Confirmez votre nouveau mot de passe", required: false %>
    </div>

    <div class="form-actions">
      <%= f.button :submit, "Mettre à jour" %>
    </div>
  <% end %>

  <h3>Supprimer mon compte</h3>

  <p><%= link_to "Supprimer mon compte", registration_path(resource_name), data: { confirm: "Etes vous sûr de vouloir supprimer votre compte? Cette action  est irréversible" }, method: :delete %></p>
  <%= link_to "Retour", :back %>

</section>

