<h1>Offers#new</h1>
<p>Find me in app/views/offers/new.html.erb</p>

<%= simple_form_for(@offer) do |f| %>
  <%= f.error_notification %>
  <%= f.input :title, label: "Titre de votre promotion", placeholder: "Menu gastro à -30% jusqu'à 21h00 " %>
   <%= f.input :description, label: "Description de votre offre", placeholder: "Précisez les détails et conditions de votre offre " %>
   <%= f.input :date, as: :string %>
   <%= f.input :quantity, label: "Nombre d'offres disponibles", as: :string  %>
   <%= f.input :image, label: "Photo de votre promotion", placeholder: "Une belle photo de votre menu attirera plus de monde" %>
   <%= f.input :image_cache, as: :hidden %>

     <%= link_to "Annuler", root_path %>
    <%= button_tag class: "btn btn--primary" do %>
      Créer<%= icon('fa', 'location-arrow') %>
<% end %>


